.bg-green {
  background-color: teal;
}

.text-center {
  text-align: center;
}

h2 {
  margin-top: 0;
}

p {
  margin: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.quiz-content {
  width: 80%;
  padding: 20px;
  background-color: rgba(137, 138, 150, 0.185);
  margin: 10px auto;
  border: 0.5px solid rgba(44, 45, 49, 0.39);
}

.option {
  padding: 1rem;
  margin: 0 0 0 0 !important;
  border: 0.5px solid rgba(44, 45, 49, 0.39);
  background: whitesmoke;
}

.result-content {
  width: 80%;
  padding: 20px;
  background-color: rgba(137, 138, 150, 0.185);
  margin: 10px auto;
  border: 0.5px solid rgba(44, 45, 49, 0.39);
  display: flex;
  justify-content: space-between;
}

.score {
  margin-left: auto;
}
